@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100vw;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, right bottom, from(#050607), to(#191c1e));
  background: linear-gradient(to bottom right, #050607, #191c1e);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.inner-container {
  width: 96%;
  max-width: 1240px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-container > * {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.form-container * {
  font-family: 'Rubik', sans-serif;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #13171b;
  padding: 2rem;
  margin: auto;
  max-width: 500px;
  border-radius: 40px;
  -webkit-box-shadow: 0 0 1px #050607;
          box-shadow: 0 0 1px #050607;
}

form > * {
  margin: auto;
  width: 90%;
  max-width: 375px;
  font-size: 1.25rem;
}

form h2 {
  color: #C9CBCD;
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
}

form label {
  padding-left: .25rem;
  color: #0255D8;
  margin-bottom: .75rem;
  background: -webkit-gradient(linear, left top, right top, from(#013698), to(#0255D8));
  background: linear-gradient(to right, #013698, #0255D8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

form input[type="text"], form input[type="month"] {
  border: none;
  color: #C9CBCD;
  background: #13171b;
  height: 45px;
  border-radius: 15px;
  margin-bottom: 1.25rem;
  padding-left: 1rem;
  -webkit-box-shadow: inset 2px 2px 5px #212527, inset -5px -5px 10px #050607;
          box-shadow: inset 2px 2px 5px #212527, inset -5px -5px 10px #050607;
}

form input[type="text"]:focus, form input[type="month"]:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: inset 1px 1px 2px #212527, inset -1px -1px 2px #050607;
          box-shadow: inset 1px 1px 2px #212527, inset -1px -1px 2px #050607;
}

form input[type="month"] {
  padding-right: 1rem;
}

form input[type="submit"] {
  margin-top: .5rem;
  border: none;
  color: #C9CBCD;
  background: -webkit-gradient(linear, left top, right top, from(#013698), to(#0255D8));
  background: linear-gradient(to right, #013698, #0255D8);
  height: 45px;
  border-radius: 15px;
  margin-bottom: 1.25rem;
  -webkit-box-shadow: -5px -5px 20px #050607, 5px 5px 20px #13171b;
          box-shadow: -5px -5px 20px #050607, 5px 5px 20px #13171b;
}

form input[type="submit"]:hover {
  cursor: pointer;
  -webkit-box-shadow: -2px -2px 5px #050607, 2px 2px 5px #13171b;
          box-shadow: -2px -2px 5px #050607, 2px 2px 5px #13171b;
}

form input[type="submit"]:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: -2px -2px 5px #050607, 2px 2px 5px #13171b;
          box-shadow: -2px -2px 5px #050607, 2px 2px 5px #13171b;
}

.card-container .card {
  margin: auto;
  margin-top: 50px;
  width: 375px;
  height: 205px;
  position: relative;
  background-color: #212527;
  color: #0255D8;
  border-radius: 15px;
  -webkit-box-shadow: -2px 2px 5px 2px rgba(0, 0, 0, 0.65);
          box-shadow: -2px 2px 5px 2px rgba(0, 0, 0, 0.65);
  -webkit-transform: translate(0px, 0px) rotate(-10deg);
          transform: translate(0px, 0px) rotate(-10deg);
  overflow: hidden;
}

.card-container .card:hover {
  -webkit-transform: translate(-5px, -10px) rotate(-2.5deg);
          transform: translate(-5px, -10px) rotate(-2.5deg);
  -webkit-transition: all 0.5s cubic-bezier(0.44, -0.37, 0.84, 1.32);
  transition: all 0.5s cubic-bezier(0.44, -0.37, 0.84, 1.32);
  cursor: pointer;
}

.card-container .circle-sm {
  position: absolute;
  right: -50px;
  bottom: -50px;
  z-index: 3;
  height: 125px;
  width: 125px;
  border-radius: 50%;
  background: radial-gradient(#013698, #062560);
}

.card-container .circle-bg {
  position: absolute;
  right: -140px;
  bottom: -75px;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  background-color: #191c1e;
  z-index: 2;
}

.card-container h1 {
  position: absolute;
  top: 20px;
  left: 35px;
  font-size: 20px;
  z-index: 4;
  font-family: 'IBM Plex Mono', monospace;
}

.card-container h2 {
  position: absolute;
  top: 50px;
  left: 55px;
  letter-spacing: 2.5px;
  font-weight: 500;
  font-size: 16px;
  z-index: 4;
  font-family: 'IBM Plex Mono', monospace;
}

.card-container .member {
  position: absolute;
  left: 35px;
  top: 105px;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 4;
  font-family: 'IBM Plex Mono', monospace;
}

.card-container .name {
  position: absolute;
  left: 35px;
  top: 125px;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 4;
  font-family: 'IBM Plex Mono', monospace;
}

.card-container .expiration {
  position: absolute;
  left: 35px;
  top: 152px;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 4;
  font-family: 'IBM Plex Mono', monospace;
}

.card-container .date {
  position: absolute;
  left: 35px;
  top: 172px;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 4;
  font-family: 'IBM Plex Mono', monospace;
}

@media only screen and (max-width: 960px) {
  .inner-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  > * {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  form {
    margin-bottom: 2.5rem;
  }
}
/*# sourceMappingURL=styles.css.map */